body {
    padding: 10px;
}

strong{
    color: goldenrod;
}
.logo span{
    color:goldenrod;
    transform: rotate(-20deg);
    
}
.navbar-brand{
    margin-right: 4px;
}
.nav-item{
    transition: 0.5s;
}
.nav-link{
    font-size: 20px !important;
    margin: 8px;
}

.nav-item:hover{
    background-color: goldenrod;
    border-radius: 4px;
    color:black;
    
}

/*................... creating Listing form styling.............*/
.listingForm form{
    width: 80%;
    padding: 30px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 8px black;

}
.listingForm input:focus, .listingForm textarea:focus, selelct:focus{
    outline-style: none;
    box-shadow: 2px 2px 10px goldenrod;
}

.commentform{
    display: inline-block;
}

/*................ listing styling...............*/

.listing_descrip{
    border: solid 1px black;
    box-shadow: 2px 4px 10px black;
}
/*............ styling comments.........*/
.comments{
    margin: 10px;
    width: 70%;
    height: 50%;
    overflow:auto;
    scroll-behavior: smooth;
    padding: 10px;
    
}

.comments::-webkit-scrollbar{
    display: none;
}
.comment{
    background-color: rgb(220, 218, 212);
    border-radius: 4px;
    padding: 4px;
    margin: 4px auto;
    width: 70%;
}
.comment span{
    position: relative;
    left: 80%;
}
.comment h6{
    color: goldenrod;
}
.comment p{
    line-height: normal;
    line-break:loose;
}
.listing_descrip{
    padding: 20px !important;
}
.listing_descrip p{
    margin-bottom: 20px;
    border-bottom: solid 1px;
    padding-bottom: 80px;
}

.commentform{
    position: relative;
    width: 40%;
    left: 2px;
}
.commentform textarea{
    height: 70px;
    border: solid black 1px;
    padding: 2px;
}
.bid input{
    border: solid black 1px;
}

/*...............Index page styling..............*/
.index_active form{
    width: 30%;
}
.index_active select{
    display: inline-block;
    margin: 5px;
}





/*............. style input form-control...........*/
.form-control:focus{
    outline-style: none !important;
    box-shadow: 2px 2px 4px goldenrod;
}
/*......... style listing layout .........*/
.card{
    margin: 10px;
    box-shadow: 2px 2px 4px black;
}
.card img{
    margin: 4px auto;
}
.card-body a{
    text-decoration: none;
    position: relative;
    bottom: 4px;
}
.card a h4{
    background-color: goldenrod !important;
    color: black;
    text-align: center;
    padding: 4px;
}
.listing_img {
    width: 200px;
    height:200px
}
.btn{
    margin: 10px !important;
    background-color: black !important;
    color: white !important;
    transition: 0.5s;
}
.btn:hover{
    background-color: goldenrod !important;
    color: white !important;
}
.bid{ 
    width: 40%;
    margin-top: 10px;
}
/*.................style inpute.............*/
.form-group input{
    width:40%;
    margin: 10px;

}
.form-group input:focus{
    box-shadow: 2px 2px 4px goldenrod;
    outline-style: none !important;
}
