{% extends "auctions/layout.html" %}
{% block body %}
    <div class="container index_active">
        <h2>Closed Listings</h2>
        {% if not listings %}
         No active listing
        {% endif %}
        <div class="row">
            {% for listing in listings %}
            <div class="card col-sm-2" style="width:400px">
                {% if listing.image != None %}
                <img class="card-img-top" src="{{listing.image}}" alt="Card image">
                {% else %}
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/85/SVG_Image.svg/480px-SVG_Image.svg.png" alt="Card image">
                {% endif %}
                <div class="card-body">
                <h4 class="card-title">{{listing.title}}</h4>
                <p class="card-text"> {{listing.description}} </p>
                <h4>Starting Price: {{listing.starting_bid}}$ </h4>
                </div>
                <a href="{% url 'listing_page' listing.id %}"><h4>More Details</h4></a>
            </div>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}