{% extends "auctions/layout.html" %}
{% block body %}
    <div class="container lisitng_page">
    {% if user.is_authenticated %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
        {% if request.user == listing.seller and listing.is_active == True %}
        <form action="{% url 'close' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Close Auction</button>
        </form>
        {% endif %}
        {% if listing not in watchlists and listing.is_active == True %}
        <form action="{% url 'to_watch' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Watch</button>
        </form>
        {% elif listing in watchlists %}
        <form action="{% url 'from_watch' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Unwatch</button>
        </form>
        {% endif %}
        <div class="row">
            <div class="col" listing_info>
                <h1>{{listing.title}}</h1>
                {% if listing.image %}
                <img src="{{listing.image}}" alt="image" class="listing_img">
                {% else %}
                <img src="https://cdn.vectorstock.com/i/preview-1x/50/20/no-photography-sign-image-vector-23665020.jpg" alt="image" class="listing_img">
                {% endif %}
            </div>
            <div class="col listing_descrip">
                <h4>Description:</h4>
                <p>{{listing.description}}</p>
                <h4>Seller: {{listing.seller}}</h4>
                <h5>Starting price: {{listing.starting_bid}}</h5>
                <h5>Posted in: {{listing.date}}</h5>
                {%if listing.is_active == True %}
                    {% if currentbid %}
                        <h5>Current bid: {{currentbid}}</h5>
                    {% else %}
                        <h5>No bid placed</h5>
                    {% endif %}
                    <span>Active</span>
                {% else %}
                    <span>Closed</span>
                {% endif %}
                {% if request.user == listing.buyer and listing.is_active == False %}
                <h6 id="won">You won the bid, congratulations!</h6>
                {% endif %}
                {% if request.user != listing.seller and listing.is_active == True %}
                <div class="bid">
                    <form action="{% url 'make_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        {{bid}}
                        <button type="submit" class="btn">Make bid</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="container">
                <h4>Comments:</h4>
                <div class="comments">
                    {% if comments %}
                        {% for comment in comments %}
                        <div class="comment">
                            <h6>{{comment.sender}}</h6>
                            <p>{{comment.comment|linebreaksbr}}</p>
                            <span>{{comment.date}}</span>
                        </div>
                        {% endfor %}
                    {% else %}
                    No Comments
                    {% endif %}
                </div>
                <div class="commentform">
                    <form action="{% url 'comment' listing.id %}" method="post">
                        {% csrf_token %}
                        {{commentform}}
                        <button type="submit" class="btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}